<!--
 * SPDX-License-Identifier: Apache-2.0
 * Copyright (C) 2020 The LineageOS Project
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="org.lineageos.overlay.customization.navbar.nohint.extra"
        android:versionCode="1"
        android:versionName="1.0">
    <overlay android:targetPackage="android"
        android:priority="10"/>
</manifest>
